@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Overpass:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');


.about {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 70px 0 70px;
    
}

.card {
    border-radius: 55px;
    padding: 50px;
    /* box-shadow: 0 0 20px gray; */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
        box-shadow: -10px 10px 20px gray;
        transform: translate(10px, -10px);
}
.mike_image {
    filter: grayscale();
    display: inline;
    width: 500px;
    border-radius: 40px;
}

.about-p {
    font-family: "Roboto Mono", monospace;;
    font-size: 4vh;
    line-height: 6vh;
    display: inline;
}

.nav-button {
    margin-top: 50px;
    font-family: "DM Serif Text", serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4vh;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    box-shadow: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
    /* color: rgb(0, 200, 207); */
    box-shadow: -5px 5px 20px gray;
    transform: translate(5px, -5px);
    
}