@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Overpass:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');


.about {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 70px 0 70px;
    
}

.card {
    border-radius: 55px;
    background: url(..\..\assets\escheresque_ste.webp);
    padding: 50px;
    /* box-shadow: -10px 10px 20px rgb(34, 34, 34); */
}


.mike_image {
    filter: grayscale();
    display: inline;
    width: 500px;
    border-radius: 40px;
}

.about-p {
    font-family: "Roboto Mono", monospace;;
    font-size: 4vh;
    line-height: 6vh;
    display: inline;
}

@media (max-width: 810px) {

    .card {
        padding: 20px;
    }

    .about-michael {
        font-size: 2.5rem;
    }

    .about {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .mike_image {
        width: 100%;
        
    }

    .about-p {
        font-size: 1rem;
        line-height: 2rem;
    }
}