@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.home-div {
    background: url(../../assets/darkness.webp);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

h1 {
    font-size: 25vh;
    flex: 1;
    margin: 0 auto;
}

h2 {
    font-size: 12.5vh;
    flex: 1;
    margin: 0 0 30px 0;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

@media (max-width: 810px) {

    h1 {
        font-size: 5rem;
        margin: 40px 0 40px 0;
    }

    h2 {
        font-size: 1.5rem;
        margin: 40px 0 40px 0;
    }

    .press-start {
        width:80%;
        margin: 40px 0 40px 0;
    }
}