@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.home-div {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 25vh;
    flex: 1;
    margin: 0 auto;
}

h2 {
    font-size: 12.5vh;
    flex: 1;
    margin: 0 0 30px 0;
}

a {
    font-size: 20vh;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    transition: color 0.5s;
}

footer {
    font-size: 4vh;
    text-align: left;
    padding: 1rem;
}