.link-div {
    /* border: 2px white solid; */
    border-radius: 10px;
    background: url(../../assets/escheresque_ste.webp);
}

.nav-button {
    margin: 100px;
    font-family: "DM Serif Text", serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4vh;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    box-shadow: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
    color: black;
    text-shadow: rgb(168, 168, 168) 0px 0 7px;
}

.active {
    color: rgb(139, 139, 139);
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

@media (max-width: 810px) {
    .link-div {
        width: 100%;
    }

    .nav-button {
        margin: 10px;
        font-size: 1.5rem;
    }

}