.link-div {
    border-radius: 10px;
    background: url(../../assets/escheresque_ste.webp);
}

.nav-button {
    margin: 100px;
    font-family: "DM Serif Text", serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4vh;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    box-shadow: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
    color: black;
    text-shadow: rgb(168, 168, 168) 0px 0 7px;
}

.active {
    color: rgb(139, 139, 139);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 101%;
    left: 23%;

    background: url(../../assets/escheresque_ste.webp);
    min-width: 160px;

    border-radius: 6px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: all 0.25s ease;

    z-index: 1000;
    border: 1px solid black;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: 8px 16px;

    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Expressway';
    border: 1px solid black;
}

.dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}


@media (max-width: 810px) {
    .link-div {
        width: 100%;
    }

    .nav-button {
        margin: 10px;
        font-size: 1.5rem;
    }

}