@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.footer {
    font-size: 2vh;
    text-align: left;
    font-family: "Pixelify Sans", sans-serif;
    width: 97%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}

@media (max-width: 480px) {
    .footer {
        font-size: .5rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    
    }

    .react-image {
        width: 20px;
    }
}