.michaels-links {
    font-size: 5rem;
}

.main {
    height: 100vh;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(1fr, auto);
    justify-items: center;
}

.contact {
    background: url(../../assets/escheresque_ste.webp);
    display: flex;
    width: 500px;
    margin: 30px;
    padding: 10px;
    font-size: 3rem;
    font-family: 'Expressway';
    border-radius: 30px;
    border: solid white 2px;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}

.contact:hover {
    box-shadow: -10px 10px 20px gray;
    transform: translate(10px, -10px);
    background: linear-gradient(gray, black);
}

.git-hub-cat, .git-hub-text {
    height: 75px;
}

@media (max-width: 810px) {
    .michaels-links {
        font-size: 2.5rem;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 1.5rem;
    }

    .git-hub-cat {
        width: 15%;
        height: auto;
    }
    .git-hub-text {
        width: 40%;
        height: auto;

    }
}